---
title: Cloud Foundry 命令行接口 (cf CLI)
owner: CLI
---

本指南解释如何使用Cloud Foundry 命令行接口(cf CLI), 一个用以部署和管理你的应用程序的工具.

本节内容:

* <a href="./install-go-cli.html" class="subnav">安装 cf CLI</a>
* <a href="./getting-started.html" class="subnav">开始使用 cf CLI</a>
* <a href="./http-proxy.html" class="subnav">在有HTTP代理服务器的环境中使用cf CLI</a>
* <a href="./self-signed.html" class="subnav">在cf CLI中使用自签名的证书</a>
* <a href="./use-cli-plugins.html" class="subnav">使用cf CLI 插件</a>
* <a href="./develop-cli-plugins.html" class="subnav">开发 cf CLI 插件</a>
* <a href="./cf-help.html" class="subnav">Cloud Foundry CLI 参考指南</a>
