---
title: 安装 cf CLI
owner: CLI
---

<strong><%= modified_date %></strong>

为安装Cloud Foundry命令行界面(cf CLI), 从<%=vars.cli_download%>下载并遵循你所用操作系统的说明.
如果你之前使用过cf CLI v5 Ruby包, 先要[卸载](#version5)这个Ruby包

## <a id="install-gem"></a>安装 cf CLI ##

### <a id="windows"></a>Windows上安装###

在Windows上安装cf CLI:

1. Unpack the zip file.
1. Double click the `cf CLI` executable.
1. When prompted, click **Install**, then **Close**.
1. To verify your installation, open a terminal window and type `cf`.
If your installation was successful, the cf CLI help listing appears.

### <a id="mac"></a>在Mac OS上安装###

1. Open the `.pkg` file.
1. In the installer wizard, click **Continue**.
1. Select an install destination and click **Continue**.
1. When prompted, click **Install**.
1. To verify your installation, open a terminal window and type `cf`.
If your installation was successful, the cf CLI help listing appears.

### <a id="linux"></a>在Linux 上安装###

1. 从[CLI 发布页面](https://github.com/cloudfoundry/cli/releases)上面下载合适的包.
1. 使用你系统的包管理器安装. 注意下列命令可能需要 `sudo`.
    * Debian/Ubuntu: `dpkg -i path/to/cf-cli-*.deb && apt-get install -f`
    * Red Hat: `rpm -i path/to/cf-cli-*.rpm`
1. 为验证安装, 打开命令行窗口 输入 `cf`.
如果你的安装成功了, cf CLI 帮助列表会出现.

## <a id="nextstep"></a>下一步 ##

更多关于如何使用cf CLI的信息, 参见[Getting Started with cf CLI](./getting-started.html).

我们推荐你仔细阅读[CLI发布页面](https://github.com/cloudfoundry/cli/releases)以获知何时发布更新,并在需要更新到最新版本时下载新的二进制文件或安装文件.


## <a id="uninstall-gem"></a>卸载cf CLI ##

### <a id="installer"></a>安装文件###

如果你之前下载并安装了 cf CLI 安装文件:

* For Mac OS, delete the binary `/usr/local/bin/cf`, and the directory `/usr/local/share/doc/cf-cli`.

* For Windows, navigate to the **Control Panel**, click **Programs and Features**, select `Cloud Foundry CLI VERSION ` and click **Uninstall**.

### <a id="binary"></a>二进制文件###

如果你之前下载并安装了 cf CLI 安装文件, 移除你的二进制文件拷贝.

### <a id="version5"></a>cf CLI v5###

运行`gem uninstall cf`卸载 .

<p class="note"><strong>Note</strong>: 为保证你的Ruby environment manager 进行了改变, 关闭并重新打开终端.</p>
